@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-700 min-h-screen;
  -webkit-font-smoothing: antialiased;
}

header {
  @apply text-white flex w-full h-16 bg-teal-400 justify-between items-center px-8 fixed top-0 z-10;
}

main {
  @apply my-28
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
